@import '../../base.css';

.faq-question-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-gap: var(--space-2);
}

.faq-question-text {
  text-decoration: none !important;
  margin-top: 0;
  margin-bottom: 0;
}

.faq-question-line {
  width: 100%;
  background-color: var(--color-primary);
}
