@import '../../base.css';

.video-wrapper {
  background-color: var(--color-secondary);
}

.video-placeholder-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.video-placeholder-container {
}

.video-placeholder-text {
  color: var(--color-highlight);
  font-size: 44px;
  opacity: 5%;
}

/* mobile */
@media only screen and (max-width: 600px) {
  .video-wrapper {
    width: 90vw;
    height: 90vw;

    max-width: 100%;
  }
}

/* desktop */
@media only screen and (min-width: 600px) {
  .video-wrapper {
    width: 40vw;
    height: 40vw;
    max-width: 400px;
    max-height: 400px;
  }
}


