@import '../../base.css';

.squares-wrapper {
  display: flex;
  flex-wrap: nowrap;
  grid-gap: var(--space-4);
  height: 228px;
  overflow-x: auto;
}

.squares-item-wrapper {
  flex: 0 0 auto;
}

@media only screen and (min-width: 800px) {
  .squares-wrapper {
    align-self: center;
    align-items: center;
    justify-content: center;
  }
}
