@import '../../base.css';

.squares-container {
  display: flex;
  flex-wrap: nowrap;
  grid-gap: var(--space-4);
  height: 228px;
  overflow-x: auto;
}

.squares-item-container {
  flex: 0 0 auto;
}
