@import '../base.css';

.header-desktop-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 36px;
}

.header-desktop-logo {
}

.header-desktop-logo-image {
  width: 48px;
  height: 48px;
}

.header-desktop-links {
  display: flex;
  grid-gap: 48px;
  align-items: center;
}

.header-desktop-item-inactive, .header-desktop-item-active {
  font-size: var(--font-lg);
  text-decoration: none;
}

.header-desktop-item-active {
  font-weight: 800;
}

.header-desktop-item-inactive:hover {
  text-decoration: underline;
}
