@import '../base.css';

.footer-container {
  display: grid;
  grid-template-areas: "logo access service"
                       "logo interest service";
}

.footer-logo {
  grid-area: logo;
}

.footer-access-container {
  grid-area: access;
}

.footer-interest-container {
  grid-area: interest;
}

.footer-service-container {
  grid-area: service;
}

