@import '../base.css';

.footer-container {
  display: grid;
  grid-template-areas: "logo access service"
                       "logo interest service";
  padding-top: var(--space-6);
  padding-bottom: var(--space-6);
}

.footer-logo {
  grid-area: logo;
  height: 54px;
  width: 54px;
}

.footer-access-container {
  grid-area: access;
}

.footer-interest-container {
  grid-area: interest;
}

.footer-service-container {
  grid-area: service;
}

.footer-link {
  text-decoration: none;
}

.footer-text {
  margin-bottom: var(--space-3);
}

