@import '../base.css';

/* mobile */
@media only screen and (max-width: 600px) {
  .footer-container {
    grid-template-areas: "logo access service"
                         "logo interest service";
  }

  .footer-container {
    display: grid;
    padding-top: var(--space-6);
    padding-bottom: var(--space-6);
  }
}

/* desktop */
@media only screen and (min-width: 600px) {
  .footer-container {
    grid-template-areas: "logo access interest service"
                         "logo access interest service";
  }

  .footer-container {
    display: grid;
    padding-top: var(--space-7);
    padding-bottom: var(--space-7);
  }
}

.footer-logo {
  grid-area: logo;
  height: 54px;
  width: 54px;
}

.footer-access-container {
  grid-area: access;
}

.footer-interest-container {
  grid-area: interest;
}

.footer-service-container {
  grid-area: service;
}

.footer-link {
  text-decoration: none;
}

.footer-text {
  margin-bottom: var(--space-3);
}

